# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
# If your executable is named "pokedex", add that specifically:
pokedex

# IDE specific folders
.vscode/
.idea/
